.page {
  margin-top: 5em;
}

div {
  // background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--ColorLight);
  align-items: center;

  .account_details_content {
    display: inline-flex;
  }

  .user_info_label {
    display: flex;
    flex: 5;
    justify-content: center;
    border-right: 1px inset var(--ColorDark);
  }

  .user_info {
    display: flex;
    flex: 6;
    justify-content: center;
  }

  li {
    display: flex;

    border: 1px inset var(--ColorLight);
    border-bottom: none;
    border-right: none;
    border-left: none;

    // p {
    //     justify-content: center;
    // }
  }

  section {
    margin-bottom: 5px;
    width: 80%;
    text-align: center;
    border-radius: 5px;

    background-color: var(--ColorVeryDark);
    padding-left: 1em;
    padding-right: 1em;
  }
  .ordersBtn {
    color: var(--ColorLight);
    text-decoration: none;
    display: block;
    background-color: var(--ColorDark);
    padding: 2px;
    border-radius: 2px;

    cursor: pointer;

    margin: 10px;
  }
  .ordersBtn:hover {
    background-color: var(--ColorExtraDark);
  }
}
