.page {

    position: absolute;
    top: 6px;
    bottom: 0;
    overflow: hidden;

    margin-top: 3em;


    .productSection {
        display: flex;
        height: 100%;
        flex-grow: 1;

        padding-bottom: 5px;

        .productViewer {

            .productTable {
                height: 90%;
                overflow-y: scroll;
                overflow-x: hidden;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                padding-top: 1em;
                margin-bottom: 5em;
            }
        }
    }
}


// @media(min-width:769px){

// }