.page {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    align-items: stretch;


    .productSection {

        display: flex;
        // flex-direction: row;

        background-color: white;

        // align-items: stretch;
        padding-bottom: 5px;
        // height: 100%;
        // position: absolute;

        .productViewer {
            // height: 100%;
            background-color: purple;
            // margin: 5px;



            .productTable {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                height: 400px;
                overflow-y: scroll;
                overflow-x: hidden;

                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
    }
}


// @media(min-width:769px){

// }