body {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ColorLight);
    background-color: var(--ColorDarker);
    padding: 40px;
    border-radius: 5px;

    h2 {
      font-size: xx-large;
      margin-bottom: 1.2em;
      display: flex;
      justify-content: center;
    }

    input {
      margin-bottom: 1em;
      height: 2.5em;
      width: 20em;
      border-color: var(--ColorLight);
      border-radius: 5px;
      border-style: inherit;
      background-color: var(--ColorVeryDark);
      text-align: center;

      color: var(--ColorLight);

      &.ng-invalid {
        &.ng-touched {
          border: 1px inset red;
        }
      }
    }

    .submit_input {
      height: 3.5em;

      margin-top: 1em;
      background-color: rgb(0, 143, 199);
      font-weight: 700;

      cursor: pointer;
    }

    .submit_input:disabled {
      background-color: rgb(116, 174, 197);
    }

    span {
      color: red;

      font-size: var(--fs-200);
    }

    .signupNotice {
      margin-top: 10px;
      text-align: center;
      font-size: 0.9rem;
      .signupLink {
        text-decoration: none;
        font-weight: var(--fw-bold);
        color: rgb(126, 126, 192);
      }
    }
  }
}

// .ng-touched .ng-invalid {
//   border: 1px inset red;
// }
