<body class="page">
  <div class="cart_page">
    <app-cart-page-item
      *ngFor="let item of this.cartService.cartItems"
      [product]="item"
      (deleteProduct)="deleteCurrItem($event)"
    ></app-cart-page-item>
    <section class="cartInfo">
      <div class="total">
        <label for="total">Total: </label>
        <span id="total">${{ cartService.getTotalPrice() }}</span>
      </div>
      <app-button
        label="Check Out"
        color="green"
        [state]="canCheckOut ? 'active' : 'disabled'"
        (click)="checkOut()"
      ></app-button>
    </section>
  </div>
</body>
