div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

  form {
    margin-top: 3em;
    position: relative;

    display: flex;
    flex-direction: column;

    color: rgb(200, 200, 200);

    background-color: var(--ColorDarker);
    padding: 40px;
    border-radius: 5px;

    h2 {
      font-size: xx-large;
      margin-bottom: 1.2em;
      display: flex;
      justify-content: center;
    }

    input {
      margin-bottom: 1em;
      height: 2.5em;
      width: 20em;
      border-color: rgb(200, 200, 200);
      border-radius: 5px;
      border-style: inherit;
      background-color: rgb(80, 80, 80);

      text-align: center;

      color: var(--ColorLight);

      &.ng-invalid {
        &.ng-touched {
          border: 1px inset red;
        }
      }
    }

    .submit_input {
      height: 3.5em;

      margin-top: 1em;
      background-color: rgb(0, 143, 199);
      font-weight: 700;

      cursor: pointer;
    }

    .loginNotice {
      margin-top: 10px;
      text-align: center;
      font-size: 0.9rem;
      .loginLink {
        text-decoration: none;
        font-weight: var(--fw-bold);
        color: rgb(126, 126, 192);
      }
    }
    .loginErrorNotice {
      color: red;
      margin-top: 10px;
      text-align: center;
      font-size: 0.9rem;
      .loginLink {
        text-decoration: none;
        font-weight: var(--fw-bold);
        color: rgb(126, 126, 192);
      }
    }
  }

  span {
    color: red;
  }
}
