<div>
    <form (ngSubmit)="signupUser()">
        <h2>Sign Up</h2>
        <input type="email" placeholder="Email" [(ngModel)]="email">
        <input type="text" placeholder="First Name" [(ngModel)]="firstName">
        <input type="text" placeholder="Last Name" [(ngModel)]="lastName">

        <input type="password" placeholder="Password" [(ngModel)]="password">
        <input type="password" placeholder="Confirm Password" [(ngModel)]="password">

        <input class="submit_input" type="submit" (submit)="signupUser()">
    </form>
</div>