<body class="page">
  <div>
    <form [formGroup]="form" (ngSubmit)="signupUser()">
      <h2>My Store</h2>
      <label for="email">Email: </label>
      <input id="email" type="email" formControlName="email" />
      <label for="firstName">First Name: </label>
      <input id="firstName" type="text" formControlName="firstName" />
      <label for="lastName">Last Name: </label>
      <input id="lastName" type="text" formControlName="lastName" />

      <label for="password">Enter Password: </label>
      <input id="password" type="password" formControlName="password" />
      <label for="confirmPassword">Confirm Password: </label>
      <input id="confirmPassword" type="password" formControlName="password2" />
      <span *ngIf="passMatchError">Passwords do not match!</span>

      <input class="submit_input" type="submit" value="Sign Up" />
    </form>
  </div>
</body>
