<body class="page">
  <div>
    <form [formGroup]="form" (ngSubmit)="signupUser()">
      <h2>My Store</h2>
      <input type="email" placeholder="Email" />
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />

      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />

      <input
        class="submit_input"
        type="submit"
        (submit)="signupUser()"
        value="Sign Up"
      />
    </form>
  </div>
</body>
