:host {
    display: block;
}


.btn {
    display: inline-block;
    padding: 1em;
    margin: 5px;
    text-decoration: none;
    // background-color: var(--ColorExtraDark);

    color: var(--ColorLight);

    border-radius: 5px;

    cursor: pointer;
}

.green {
    background-color: rgb(42, 126, 60);
    // color: rgb(105, 184, 122);
}

.green:hover {
    transition-duration: 0.3s;
    background-color: rgb(33, 87, 46);
}


.red {
    background-color: rgb(131, 61, 61);
}

.red:hover {
    background-color: rgb(92, 30, 30);
}