<div class="cartItem">
  <section class="itemImg">
    <img src="{{ product.product.imgPath }}" alt="imgg" />
  </section>
  <section class="cartItemInfo">
    <p class="pName">{{ product.product.name }}</p>

    <p class="pPrice">${{ product.product.price }}</p>
    <form [formGroup]="form">
      <input
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        value="{{ product.amount }}"
        (ngModelChange)="onChange($event)"
        formControlName="numInput"
      />
    </form>
    <app-button
      label="Delete"
      color="red"
      (click)="deleteCartItem()"
    ></app-button>
  </section>
</div>
